# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/

# Carpetas temporales y de pruebas
scratch/
intermedios/

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
